<div class="navbar row no-gutters">
    <div class="ai_tab col-sm-8 row no-gutters">
        <div class="ai_tab__active col-sm-2">
            <div class="ai_tab__active-text">Dashboard</div>
        </div>
    </div>
    <div class="navitem col-sm-1">
        <ul class="navitem__menulist">
            <li class="navitem__menulist__menu">
                <div class="dropdown dropbtmleft">
                    <a href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="ai-ava" src="../../../assets/download.jpg" alt="">
                    </a>
                    <!-- <button class="ai-ava btn btn-secondary" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button> -->
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Sign Out</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>